@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #EBF5FF
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Roboto';
  line-height: 32px;
  color: #5c59f3;
}

a {
  color: #5c59f3;
  text-decoration: none;
}

a:hover {
  color: #8c99fa;
}

.btn-blue {
  background-color: #8c99fa;
  color: white;
  padding: 15px 20px;
  border-radius: 4px
}

.btn-blue:hover {
    background-color: white;
    color: 8c99fa;
  }

.card-white {
  padding: 40px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin: 20px 0px;
  border-radius: 20px;
  text-align: center;
}

.container {
  width: 500px ;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.img-circle.img-profile {
  .img-profile {
    object-fit: cover;
    width: 230px;
    height: 230px;
  }
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 960px) {
  .container {
  width: 700px;
}
}

@media (max-width: 720px) {
  .container {
  width: 500px;
}
}

@media (max-width: 540px) {
  .container {
  width: 300px;
}
}
